













<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="second">
                    <h4>Other Services</h4>
                    <ul>
                        <li><a href="#">SSF CONSTRUCTION</a></li>
                        <li><a href="#">SSF FIBRICATION</a></li>
                        <li><a href="#">SSF Shutters & Shop Fronts</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="second">
                    <h4> Navigate</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Divisions</a></li>
                        <li><a href="#">Facilities</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="third">
                    <h4> Contact</h4>
                    <ul>
                        <li>SSF Powder Coating </li>


                        <li><i class="far fa-envelope"></i> sales@ssf-group.co.uk</li>


                      <li><i class="fas fa-map-marker-alt"></i> Unit 3,
                        The Old Foundry,
                        Ash Street,
                        Bilston,
                        West Midlands,
                        WV14 8UL </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="line"></div>
                <div class="second2">
                    <a href="https://codepen.io/AndreeaBunget" target="_blank"> <i class="fab fa-codepen fa-2x margin"></i></a>
                    <a href="https://github.com/WebDeveloperCodeRep" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                    <a href="https://www.linkedin.com/in/andreea-mihaela-bunget-a4248812b/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                    <a href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>

                </div>

            </div>
        </div>
        </div>
        
</div>