
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}







</style>
<body>






<!-- Work Section -->
<div class="w3-container" style="padding:128px 16px" id="work">
  <h3 class="w3-center"><b style="color: rgb(231, 20, 20);font: 1em sans-serif;font-size: 200%;">OUR WORK </b></h3>
  <br>
  <br>
  <p class="w3-center "><b style="font-size: 180%;color: darkblue;">What we've done for Coating </b></p>

  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/00/66/38/54/240_F_66385412_ltHp09MUwU8ITxMEGxG1TZfIzPgKU2B6.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A microphone">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t4.ftcdn.net/jpg/03/79/34/25/240_F_379342536_FZdOwd4Bvfbh9HiyZVtOCVdjH1EkkFPp.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A phone">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://thumbs.dreamstime.com/b/powder-coating-metal-parts-man-protective-suit-sprays-powder-paint-gun-metal-products-powder-coating-metal-112950821.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A drone">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/01/53/09/38/240_F_153093830_nf4CymHvgaCEcy7svRNfjvOCVeSBlp4O.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Soundbox">
    </div>
  </div>

  <div class="w3-row-padding w3-section">
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/02/88/20/38/240_F_288203811_gju43FohN43n4CYOy5a36M1JQA04G4Zm.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A tablet">
    </div>
  
    <div class="w3-col l3 m6">
      <img src="https://thumbs.dreamstime.com/b/powder-coating-line-metal-panels-suspended-overhead-conveyor-painting-products-electrostatic-field-141647443.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A camera">
    </div>
  
    <div class="w3-col l3 m6">
      <img src="https://thumbs.dreamstime.com/b/powder-coating-line-metal-panels-suspended-overhead-conveyor-line-powder-coating-line-metal-panels-suspended-134562126.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A typewriter">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://media.istockphoto.com/photos/white-coated-greenhouse-picture-id1143987014?k=6&m=1143987014&s=612x612&w=0&h=j0Vgdel81YjUK9_SL2Uudqyh5gQSGQvTYOQtN80RzIw=" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A tableturner">
    </div>
  </div>
</div>
<div class="w3-container" style="padding:128px 16px" id="work">
  <p class="w3-center "><b style="font-size: 180%;color: darkblue;">What we've done for Construction </b></p>
  

  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l3 m6">
      <img src="https://t4.ftcdn.net/jpg/02/16/25/53/240_F_216255394_kZEBlKgqe85WFq1s2ZgCzTGK4FANZduA.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A microphone">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t4.ftcdn.net/jpg/03/82/08/37/240_F_382083726_f1Dyb8U7BaZbhqEnZrO3VGTHqD6sXdd2.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A phone">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t4.ftcdn.net/jpg/01/43/29/97/240_F_143299766_DGaVYoei9A58qxZoZ05H0hHUJfeHXf6b.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A drone">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/02/02/05/32/240_F_202053251_jYRALqMe9elHIrKkefIP3uZFsoDPEISo.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Soundbox">
    </div>
  </div>

  <div class="w3-row-padding w3-section">
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/02/74/77/60/240_F_274776014_S4O7dEGpEtzf5okmluWuEdMApMxF4IqM.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A tablet">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/01/94/37/90/240_F_194379006_Biyto8vUJQlbZFUIAMQhTpTS9MgLp1lr.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A camera">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/01/72/84/02/240_F_172840226_OxA1PfeGyeyVIPRoBs9gf9UTJVvlkFNy.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A typewriter">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/02/33/17/50/240_F_233175040_hwqRyiZlQkXimeLz2AIZhajyfiU9El1m.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A tableturner">
    </div>
  </div>
</div>
<div class="w3-container" style="padding:128px 16px" id="work">
  <p class="w3-center "><b style="font-size: 180%;color: darkblue;">What we've done for Fabrication </b></p>

  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/00/63/10/54/240_F_63105434_CdEmX8m7hHWu09gfywFAZAxnmttt8c8B.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A microphone">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/00/69/38/18/240_F_69381869_WUIViy5Ti8D4jUVtt5dgdc72tdFtISke.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A phone">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t4.ftcdn.net/jpg/01/73/00/53/240_F_173005304_YqS7l3DoOymkB8vgCXn8z6Xr0ZCiv6pK.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A drone">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t4.ftcdn.net/jpg/03/16/11/79/240_F_316117915_382sdxvtS1kmKi5LOZBh4OLtsukoQvnK.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Soundbox">
    </div>
  </div>

  <div class="w3-row-padding w3-section">
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/01/64/94/60/240_F_164946087_2YmL7wAgAXPlQLYmwhlbUntaiWrhnref.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A tablet">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t4.ftcdn.net/jpg/01/39/76/61/240_F_139766196_Z8Ysqob33aonVWMPIZpfQcDJCNBJmxxC.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A camera">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t4.ftcdn.net/jpg/03/16/11/85/240_F_316118563_2ZhooVZKtzEXupPQdYw3pog6x4t4wKdo.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A typewriter">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/01/38/10/06/240_F_138100625_l7FSCX7lcabGQKsZCsxF6hiQHhKXaeKB.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A tableturner">
    </div>
  </div>
</div>


<div class="w3-container" style="padding:128px 16px" id="work">
  <p class="w3-center "><b style="font-size: 180%;color: darkblue;">What we've done for  Shutters </b></p>

  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/02/73/90/56/240_F_273905602_O63IhPi0Vfzq7G4zvVO8ntBm0o6cWKrl.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A microphone">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/02/48/12/04/240_F_248120483_iZGqP1JjX8L7KCFJt06sVhkDoPdkfsoD.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A phone">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/03/35/88/06/240_F_335880602_2tbzF5idSoCJLWrZgr9UBjWz2N0b9T02.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A drone">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t4.ftcdn.net/jpg/03/03/33/51/240_F_303335133_yXrdHWjBJIaiTLFTH4ksFUU6JpczWYtL.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Soundbox">
    </div>
  </div>

  <div class="w3-row-padding w3-section">
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/04/11/03/68/240_F_411036818_RRANYcEoFI8EhZG2HXhIENbY2xgjsoy9.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A tablet">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/03/17/64/28/240_F_317642825_gDtQe13OyDOB7jgyaF7rTjrK1aw7XfV3.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A camera">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t4.ftcdn.net/jpg/04/19/53/75/240_F_419537502_rasNoJlPBlx9T5zGpEz6VGcXyL3FoHXW.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A typewriter">
    </div>
    <div class="w3-col l3 m6">
      <img src="https://t3.ftcdn.net/jpg/01/63/78/92/240_F_163789254_bGtxDGLOVzWfB0Q8xLZAii3mSEuAXOGy.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A tableturner">
    </div>
  </div>
</div>


























<!--code for footer starts here-->
<br>
<br>
<br>
<br>
<head>
  <meta charset="utf-8" />
  <title></title>
 <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link href="gallery.component.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>



  <!-- footer -->
  <div class="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-xs-12">
                  <div class="second">
                      <h4>Other Services</h4>
                      <ul>
                          <li><a href="#">SSF CONSTRUCTION</a></li>
                          <li><a href="#">SSF FIBRICATION</a></li>
                          <li><a href="#">SSF Shutters & Shop Fronts</a></li>
                      </ul>
                  </div>
              </div>

              <div class="col-md-4 col-xs-12">
                  <div class="second">
                      <h4> Navigate</h4>
                      
                      <ul>
                        <li><a href="about">About Us</a></li>
                        <li><a href="home">Home</a></li>
                        <li><a href="divisions">Divisions</a></li>
                        <li><a href="facilities">Facilities</a></li>
                    </ul>
                  </div>
              </div>

              <div class="col-md-4 col-xs-12">
                  <div class="third">
                      <h4> Contact</h4>
                      <ul>
                          <li>SSF Powder Coating </li>


                          <li><i class="far fa-envelope"></i> sales@ssf-group.co.uk</li>


                        <li><i class="fas fa-map-marker-alt"></i> Unit 3,
                          The Old Foundry,
                          Ash Street,
                          Bilston,
                          West Midlands,
                          WV14 8UL </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="line"></div>
                  <div class="second2">
                      <a href="https://codepen.io/AndreeaBunget" target="_blank"> <i class="fab fa-codepen fa-2x margin"></i></a>
                      <a href="https://github.com/WebDeveloperCodeRep" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                      <a href="https://www.linkedin.com/in/andreea-mihaela-bunget-a4248812b/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                      <a href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>

                  </div>

              </div>
          </div>
          </div>
          
  </div>




</body>
</html>
