

<br>
<br>
<br>

<br>
<br>
<br>

<!--<div class="card-body">
<p>The SSF Group consist of four Divisions allowing us to offer the best and most comprehensive steelwork, construction, powder coating and shutter & shop front services. Having many years of experience in a very demanding 
	field of construction, we are able to finish projects of any size with a quick turnaround time, at competitive prices.</p>
	</div>-->
	

<main>
	<div class="card-body" style="font-size: 150%;">
		<b >The SSF Group consist of four Divisions allowing us to offer the best and most comprehensive steelwork, construction, powder coating and shutter & shop front services. </b>
			</div>
			
	<ul id="cards">
		<li class="card" id="card_1">
			<div class="card__content">
				<div>
					<h2> SSF Construction</h2>
					<p>SSF Construction is a part of the SSF Group providing the best building work solutions in all parts of construction projects. 
						All of our construction work is completed to the highest standard and our relationships with our clients are the key to our success. We aim to provide expert metal working knowledge and steel manufacturing services across
						 a wide variety of sectors and different locations, to deliver your best construction expectations on time and on a budget..</p>
					<p><a href="https://www.ssf-group.co.uk/ssf-construction.html" class="btn btn--accent">SSF Construction</a></p>
					</div>
				<figure>
					<img src="https://media.istockphoto.com/photos/aerial-top-down-shot-of-a-house-frame-on-a-construction-site-by-mud-picture-id1149532577?k=6&m=1149532577&s=612x612&w=0&h=XBNI-LkkS4SjTswnul2EK15dsqHxXC4MgtMnmQga4Fs=" alt="Image description">
				</figure>
			</div>
		</li>
		<li class="card" id="card_2">
			<div class="card__content">
				<div>
					<h2>Steel And   Aluminium Fabrications</h2>
					<p>All metal fabrications are made in our modern workshop by qualified experts who have years of experience in steelwork manufacturing. 
						We use stainless steel, mild steel or galvanised. Using the latest technologies in our steel workshop it allows us to handle most sized 
						projects ranging from small projects such as steel staircases or metal gates to big commercial portal frames and mezzanine floors. The amount 
						of products we manufacture depends solely on customer needs, we can manufacture
						 bespoke one-off projects such as decorative iron railings to repetitive batch work such as iron gates, universal beams or steel security fencing.</p>
					<p><a href="https://www.ssf-group.co.uk/steel-security-fabrications.html" class="btn btn--accent">Steel And   Aluminium Fabrications</a></p>
				</div>
				<figure>
					<img src="https://media.istockphoto.com/photos/welder-works-in-metal-construction-construction-and-processing-of-picture-id1185871218?k=6&m=1185871218&s=612x612&w=0&h=mPbkF02k4VyapKM9_8HRRz6fw4lgx8CUDq4PWvYn7KI=" alt="Image description">
				</figure>
			</div>
		</li>
		<li class="card" id="card_3">
			<div class="card__content">
				<div>
					<h2>Shutters & Shop Fronts.</h2>
					<p>One of our divisions here at SSF Group, Shutter and Shop fronts provides a complete nationwide service. We design, manufacture and install which results is a full top to bottom service. We offer a range of services and designs within this department, and we provide all the variants of shutter and shop front that you need, whether it be internal or external, solid or punched designs and protection systems. 

					</p>
					<p><a href="https://www.ssf-group.co.uk/shutters-shop-fronts.html" class="btn btn--accent">Shutters & Shop Fronts</a></p>
				</div>
				<figure>
					<img src="https://media.gettyimages.com/photos/closed-shutter-of-store-picture-id1083818828?k=6&m=1083818828&s=612x612&w=0&h=yd6MKqv-nGF4TSGBKhG2iddcvfkShSVYfCOOgVKpid8=" alt="Image description">
				</figure>
			</div>
		</li>
		<li class="card" id="card_4">
			<div class="card__content">
				<div>
					<h2>Powder Coating</h2>
						<p>
							We understand the importance of investment in quality and genuine commitment is essential. All of our powder coating works are done by
							 well-trained powder coaters at our premises in accordance with our strict quality standards. The powder coating is better than regular 
							 liquid based painting because it can produce thicker layer, is cost efficient and also it is less hazardous than regular painting services.
						</p>
						
						
					<p><a href="#top" class="btn btn--accent">Read more</a></p>
				</div>
				<figure>
					<img src="https://media.istockphoto.com/photos/powder-coating-process-of-metal-products-picture-id1299305821?k=6&m=1299305821&s=612x612&w=0&h=yCLRNQmn33NMh2cDxajGauSzEbsZZ3Q8g_khJ3rxG8o=" alt="Image description">
				</figure>
			</div>
		</li>
	</ul>
</main>
<!--
<aside>
	<br>
	<br>
	<h3>Services we offer for Construction </h3>
	<p class="padded">				We offer services ranging from small steel frames to large structural fabrications. All other projects including metal steel security gates ,fencing, spiral or straight metal staircases and fire escapes (internal and external) and portal building frames are undertaken by our professionals to high standards of construction services. SSF group provide the bespoke full range construction service, including groundworks – underground drainage installation and concrete foundation, concrete car parks or service yards, 
		new design and build of any building, refurbishment or extension for any premises either commercial, industrial or private.</p>
		<ul class="padded">
			<li>
				New builds and refurbs (commercial/residential)
			</li>
			<li>

			</li>


		</ul>
		
</aside>

<div class="page__group">
	
		
		<article class="news arabic">
			<header class="news__header">
				<time class="news__date" datetime="2019-05-31">
					<span class="news__day">3</span>
					<span class="news__year">June 2019</span>
				</time>
				<h3 class="r-title news__title">
					<a href="">
						SSF Construction
					</a>
					<ul  class="padded"style="font-size:20px">
						<p>We offer services ranging from small steel frames to large structural fabrications. All other projects including metal steel security gates ,
							fencing, spiral or straight metal staircases and fire escapes (internal and external) and portal building frames are undertaken by our professionals 
							to high standards of construction services. SSF group provide the bespoke full range construction service, including groundworks – underground drainage
							 installation and concrete foundation, concrete 
							car parks or service yards, new design and build of any building, refurbishment or extension for any premises either commercial, industrial or private.
						</p>
						
						<li>

						</li>


					</ul>
					
					
				</h3>	
				
			</header>
		</article>
		
</div>	



<div class="page__section">

	
	<div class="page__group">
	
		
		<article class="news arabic">
			<header class="news__header">
				<time class="news__date" datetime="2019-05-31">
					<span class="news__day">3</span>
					<span class="news__year">June 2019</span>
				</time>
				<h3 class="r-title news__title">
					<a href="#0" class="r-link animated-underline animated-underline_type4 news__link">
						Do you need an ICON ONLY button without screwing up the accessibility?
					</a>
					<p  class="padded"style="font-size:20px">
						All construction works start with the site survey and planning accordingly to customer's needs and to ensure the process is going smoothly as planned, therefore, we offer a Main, or also known as, General Contractor service. Our experts provide the service of health and safety risk assessment, quantity surveying, CSCS compliant and design and management (CDM) Co-ordinator. To assure that the building meets all safety requirements and engineering standards our steel structure engineer is responsible for taking care of structural engineering needs. With the service our experts who have many years of experience in the construction works the process of building is bound to succeed.

						All construction works start with the site survey and planning accordingly to customer's needs and to ensure the process is going smoothly as planned, therefore, we offer a Main, or also known as, General Contractor service. Our experts provide the service of health and safety risk assessment, quantity surveying, CSCS compliant and design and management (CDM) Co-ordinator. To assure that the building meets all safety requirements and engineering standards our steel structure engineer is responsible for taking care of structural engineering needs. With the service our experts who have many years of experience in the construction works the process of building is bound to succeed.

						All construction works start with the site survey and planning accordingly to customer's needs and to ensure the process is going smoothly as planned, therefore, we offer a Main, or also known as, General Contractor service. Our experts provide the service of health and safety risk assessment, quantity surveying, CSCS compliant and design and management (CDM) Co-ordinator. To assure that the building meets all safety requirements and engineering standards our steel structure engineer is responsible for taking care of structural engineering needs. With the service our experts who have many years of experience in the construction works the process of building is bound to succeed.

						All construction works start with the site survey and planning accordingly to customer's needs and to ensure the process is going smoothly as planned, therefore, we offer a Main, or also known as, General Contractor service. Our experts provide the service of health and safety risk assessment, quantity surveying, CSCS compliant and design and management (CDM) Co-ordinator. To assure that the building meets all safety requirements and engineering standards our steel structure engineer is responsible for taking care of structural engineering needs. With the service our experts who have many years of experience in the construction works the process of building is bound to succeed.

						The first consideration is: do you really? If you can, having text next to your icons is proven over and over again to be the most accessible and clearest UX (see Apple's latest blunder). But if you need to (and I get it, sometimes you need to), Sara Soueidan and Scott O'Hara have a pair of articles that nicely lay out all the options and present actual research on this topic.
					</p>
					
					
				</h3>	
				
			</header>
		</article>
		
	</div>
</div>	-->







<!--code for footer starts here-->
<br>
<br>
<br>
<br>
<head>
  <meta charset="utf-8" />
  <title></title>
 <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link href="specialities.component.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>



  <!-- footer -->
  <div class="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-xs-12">
                  <div class="second">
                      <h4>Other Services</h4>
                      <ul>
                          <li><a href="#">SSF CONSTRUCTION</a></li>
                          <li><a href="#">SSF FIBRICATION</a></li>
                          <li><a href="#">SSF Shutters & Shop Fronts</a></li>
                      </ul>
                  </div>
              </div>

              <div class="col-md-4 col-xs-12">
                  <div class="second">
                      <h4> Navigate</h4>
                     
					  <ul>
                        <li><a href="home">Home</a></li>
                        <li><a href="divisions">Divisions</a></li>
                        <li><a href="facilities">Facilities</a></li>
                        <li><a href="gallery">Gallery</a></li>
                    </ul>
                  </div>
              </div>

              <div class="col-md-4 col-xs-12">
                  <div class="third">
                      <h4> Contact</h4>
                      <ul>
                          <li>SSF Powder Coating </li>


                          <li><i class="far fa-envelope"></i> sales@ssf-group.co.uk</li>


                        <li><i class="fas fa-map-marker-alt"></i> Unit 3,
                          The Old Foundry,
                          Ash Street,
                          Bilston,
                          West Midlands,
                          WV14 8UL </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="line"></div>
                  <div class="second2">
                      <a href="https://codepen.io/AndreeaBunget" target="_blank"> <i class="fab fa-codepen fa-2x margin"></i></a>
                      <a href="https://github.com/WebDeveloperCodeRep" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                      <a href="https://www.linkedin.com/in/andreea-mihaela-bunget-a4248812b/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                      <a href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>

                  </div>

              </div>
          </div>
          </div>
          
  </div>