
<div class="login-box">
  <h2>Login</h2>
  <form>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Name</label>
    </div>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Email</label>
    </div>
    <div class="user-box">
      <input type="number" name="" required="">
      <label>Phone NUmber</label>
    </div>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Location</label>
    </div>
    <div class="user-box">
      <input type="text" name="" >
      <label>Subject</label>
    </div>
    <div class="user-box">
      <input type="text" name="" required="">
      <label>Your Message</label>
    </div>
    
    <a >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
</div>