
<div class="container">
	<div class="row">
			<h1>REQUEST A QUOTE</h1>
	</div>
  <div class="row">
    <h5 style="text-align:center">
      <p>We would love the opportunity to talk to you about any forthcoming projects you may have coming up, 
        <br>so you can either contact us via email or telephone, or ideally .we can then be more prepared about your requirements before we contact you.</p>
      
      </h5>
</div>


	<div class="row input-container">
			<div class="col-xs-12">
				<div class="styled-input wide">
					<input type="text" required />
					<label>What is your first name?*</label> 
				</div>
			</div>
    
      
      <div class="col-xs-12">
				<div class="styled-input wide">
					<input type="number" required />
					<label>Do you know the RAL numbers you may reqire?</label> 
					
				</div>
			</div>
      
   
      
    
  <div class="col-xs-12">
    <div class="styled-input wide">
      <input type="number" required />
      <label>Please tell us your telephone number if you want us to call you back?</label> 
    </div>
  </div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input">
					<input type="text" required />
					<label>And your email please?*</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input" style="float:right;">
					<input type="text" required />
					<label>And what company are you from?</label> 
				</div>
			</div>
			<div class="col-xs-12">
				<div class="styled-input wide">
					<textarea required></textarea>
					<label>Please tell us about your project, so when we contact you we have more information and can be fully prepared.</label>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="btn-lrg submit-btn">SUBMIT</div>
			</div>
	</div>
</div>















